
#heading {
    background-color: #cc0a0a;
    color: #ffffff;
    font-weight: bold;
    font-size: 41px;
}

#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8,#box9 {
    height: auto;
    border: 1px;
    background-color: #ffffff;
    border: 2px solid #a5b732;
}



#box1 {
    min-height: 880px
}

#box2 {
    margin-top: 18px;
    min-height: 600px;
    box-sizing: border-box
}

#box3 {
    min-height: 480px
}

#box4 {
    min-height: 880px
}

#box5 {
    min-height: 600px
}

#box6 {
    min-height: 480px
}

#box7 {
    padding-bottom: 7%
}

#box8 {
    min-height: 600px;
    margin-top: 18px
}

#box9 {
    margin-top: 17px;
    min-height: 480px
}


.overlay{display: none;width: 100%;height: 100%;position: fixed;z-index: 2;top: 0;left: 0;background-color: white;overflow-y: scroll;transition: 0.5s;} 

.overlay-content {
    margin-top: 51px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: red;
}

.overlay .closebtn{position: fixed;top: 8%;right: 1%;border-radius: 31px;padding: 23px;font-weight: bold;/* font-size: 104px; */background-color: #b7a69082;} 


           #post ul {
                list-style: none;
                color: #005bd4;
                font-weight: bold;
                font-size: 14px;
            }

            #post ul li a:hover {
                color: red;
                font-weight: bold
            }
            
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.94); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 60px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 1px 0px;
    
    background-color: #5cb85c;
    color: white;
}

.modal-body {
                padding: 4px;
                font-size: 17px;
                overflow: scroll;
                background-color: #9a9a9a33;
                max-height: 170px;
}

.modal-body a {
    text-decoration:none;
    color:blue;
}
.modal-footer {
  
    color: white;
    width: 100%;
    clear:both;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
            .view {
    font-weight: bold;
    background-color:#4CAF50;
    cursor:pointer;
    padding: 3px;
    font-size: 22px;
    width: 52%;
    margin-bottom: -7%;
    margin-left: 24%;
    text-align:  center;
    /* margin: 0%; */
    }


